@using ForumSibsau.Data;
@using Microsoft.AspNetCore.Identity
@using ForumSibsau.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форум</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/1b94797836.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
</head>

<body>

    <header>
        <div class="top-header">
            <div class="logo-text">
                <a href="~/Home/Recently">
                    <img src="https://play-lh.googleusercontent.com/NEYGtRqajdpz1mJ0GOhxQOBaD_VxKGi-yXhx8uGcwgyAGDv8Ohqql7Q4rpnv5hM1-ZAA"
                         alt="" class="leftpic">
                </a>
                <h1>
                    <span class="caption">Sibsau Forum</span>
                </h1>
            </div>
            <partial name="_LoginPartial" />
        </div>
    </header>

    <div class="wrapper">
        <div class="search_wrap search_wrap_2">
            <div class="search_box">
                <div class="btn btn_common">
                    <i class="fas fa-search"></i>
                </div>
                <input type="text" class="input" placeholder="Поиск...">
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
        <div class="sideBar">
            @if (SignInManager.IsSignedIn(User))
            {
@*                 var currentUserPosts = ViewData["CurrentUserPosts"] as List<Post>;
                <div class="widget-login">
                    <ul class="sortBarSide">
                        <li class="page-item-current">
                            <a href="#">Мои темы</a>
                        </li>
                    </ul>
                    <div class="own-topics">
                        @{
                            var firstPost = currentUserPosts.First();
                            <div class="own-topic-first">
                                <h3 class="topic-title">@firstPost.Title</h3>
                                <p class="topic-content">Количество ответов: @firstPost.ResponsesCount</p>
                            </div>
                        }
                        @foreach (var post in currentUserPosts.Skip(1))
                        {
                            <div class="own-topic">
                                <h3 class="topic-title">@post.Title</h3>
                                <p class="topic-content">Количество ответов: @post.ResponsesCount</p>
                            </div>
                        }
                    </div>
                    <div class="widget-login btns">
                        <a asp-controller="Post" asp-action="Create">
                            <button type="button" class="btn btn-primary">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </a>
                        <a asp-controller="Post" asp-action="Create">
                            <button type="button" class="btn btn-primary">
                                <i class="fa-solid fa-ellipsis"></i>
                            </button>
                        </a>      
                    </div>
                </div> *@
            }
            else
            {
                <div class="auth-widget">
                    <div class="col-md-6">
                        <div class="card bg-primary text-white">
                            <div class="card-body text-center">
                                <h3 class="card-title">Чтобы добавить тему нужно авторизоваться</h3>
                                <a class ="button-secondary" asp-area="Identity" asp-page="/Account/Login">АВТОРИЗОВАТЬСЯ</a>
                            </div>
                        </div>
                    </div>     
                </div>
            }
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>